@{
    ViewBag.Title = "About";
}
@using Inz_v1.Models
@model List<LandOfferModel>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <br />
    <br />
    <table class="table table-hover table-responsive">
        <thead>
            <tr class="row">
                <th class="col-2">Powierzchnia</th>
                <th class="col-2">Cena</th>
                <th class="col-5">Opis</th>
                <th class="col-1">Kraj</th>
                <th class="col-1">Rok produkcji</th>
                <th colspan="2" class="add-button col-2">@Html.ActionLink("Dodaj film", "AddMovie", "Movie", new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </th>
            </tr>
        </thead>
        <tbody class="list-body">
            @foreach (var landOffer in Model)
            {
                <tr class="row">
                    <td class="col-2">@landOffer.Area</td>
                    <td class="col-5">@landOffer.Price</td>
                    <td class="col-1">@landOffer.Description</td>
                    <td class="col-1">@Html.ActionLink("Edytuj", "EditMovie", landOffer, new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </td>
                    <td class="col-1">@Html.ActionLink("Usuń", "DeleteMovie", landOffer, new { @class = "btn btn-primary btn-block btn-sm pull-right" }) </td>
                </tr>
            }
        </tbody>
    </table>
</div>
